body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffcc00;
    color: #0000ff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    background: #ff00ff;
    padding: 20px;
    color: #000;
}

h1 {
    font-family: 'Arial Black', Gadget, sans-serif;
    text-shadow: 2px 2px #00ff00;
    font-size: 2em;
}

/* Estilo para los párrafos */
p {
    font-family: 'Roboto Condensed', sans-serif; /* Tipo de letra Roboto Condensed */
    font-size: 18px; /* Aumento del tamaño de la fuente */
    line-height: 1.5; /* Doble espacio */
    text-align: justify;
}

.cyberpunk-border {
    border: 2px solid #00ff00;
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
    padding: 10px;
    margin: 20px 0;
}

/* Hero Image */
.hero-image {
    width: 100%; /* Asegura que el contenedor de la imagen ocupe todo el ancho */
    overflow: hidden; /* Oculta cualquier desbordamiento */
}

.hero-image img {
    width: 100%;
    height: 100%; /* Asegura que la imagen se expanda en su contenedor */
    object-fit: cover; /* Mantiene la proporción de la imagen y cubre el contenedor */
    max-height: 60vh; /* Ajusta según sea necesario para móviles */
}

nav {
    background: #00B7EB;
    padding: 10px;
}

/* Estilos para el menú */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; /* Ocultar el menú por defecto */
    flex-direction: column;
    background-color: #1a1a1a;
    border: 2px solid #00ff00; /* Borde neón */
    box-shadow: 0 0 10px #00ff00; /* Sombra neón */
    border-radius: 20px;
}

.menu.show {
    display: flex; /* Mostrar el menú cuando se activa */
}

.menu-item {
    border-bottom: 1px solid #00ff00;
}

.menu-item a {
    color: #00FFDF;
    text-decoration: none;
    padding: 15px;
    display: block;
    font-family: 'Courier New', Courier, monospace; /* Tipografía futurista */
    text-transform: uppercase;
}

.menu-item a:hover {
    background-color: #333;
    color: #ff00ff; /* Cambio de color al pasar el ratón */
}

.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; /* Ocultar submenús por defecto */
    flex-direction: column;
    background-color: #333;
    border: 1px solid #00ff00;
}

.menu-item:hover .submenu {
    display: flex; /* Mostrar submenús al pasar el ratón */
}

.menu-toggle {
    background-color: #1a1a1a;
    color: #00ff00;
    border: 2px solid #00ff00;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    box-shadow: 0 0 10px #00ff00;
}

.menu-toggle:hover {
    background-color: #333;
    color: #ff00ff;
}

@media (min-width: 768px) {
    .menu {
        display: flex; /* Mostrar el menú en pantallas grandes */
        flex-direction: row;
    }

    .menu-item {
        border: none;
    }

    .menu-item a {
        padding: 10px 20px;
    }

    .submenu {
        position: absolute;
        display: none;
    }

    .menu-item:hover .submenu {
        display: block;
    }

    .menu-toggle {
        display: none; /* Ocultar el botón de menú en pantallas grandes */
    }
}

/* Media query para pantallas más grandes */
@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: space-around;
    }

    .menu-item {
        margin: 0;
    }

    .menu-item > a {
        padding: 10px 20px;
    }

    .submenu {
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    h1 {
        font-size: 2em;
    }

    /* Ajustar el tamaño de la imagen hero para pantallas grandes */
    .hero-image img {
        max-height: 80vh; /* Permite más altura en pantallas grandes */
    }
}

.back-button {
    background-color: #ff00ff; /* Color vibrante típico del New Wave */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif; /* Fuente simple y clara */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #cc00cc; /* Color más oscuro al pasar el ratón */
}

footer {
    background: #0000ff;
    color: #ffcc00;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    font-size: 0.9em;
}